<a href="https://colab.research.google.com/github/sharmin6630/Python-for-Everybody/blob/master/Using%20Databases%20with%20Python/Basic_Structured_Query_Language.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic Structured Query Language**

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
#pyhton class
class animal :
  def __init__(self, name) :
    self.name = name
  def __del__(self) :
    print(self, "is destroyed")

cow = animal("Cow")
print(cow.name)
cow = 2

Cow
<__main__.animal object at 0x7f6a6056d9e8> is destroyed

In [36]:
import sqlite3

conn = sqlite3.connect('sampleemaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?',
                    (email,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: /content/sample_data/mbox.txt
zqian@umich.edu 195
mmmay@indiana.edu 161
cwen@iupui.edu 158
chmaurer@iupui.edu 111
aaronz@vt.edu 110
ian@caret.cam.ac.uk 96
jimeng@umich.edu 93
rjlowe@iupui.edu 90
dlhaines@umich.edu 84
david.horwitz@uct.ac.za 67

# **Assignments**

**COUNTING ORGANIZATIONS**

```
This application will read the mailbox data (mbox.txt) count up the number email
messages per organization (i.e. domain name of the email address) using a database
with the following schema to maintain the counts:
CREATE TABLE Counts (org TEXT, count INTEGER)
When you have run the program on mbox.txt upload the resulting database file 
above for grading. If you run the program multiple times in testing or with dfferent files, make
sure to empty out the data before each run.
You can use this code as a starting point for your application: 
http://www.pythonlearn.com/code/emaildb.py.
The data file for this application is the same as in previous assignments:
http://www.pythonlearn.com/code/mbox.txt.
Because the sample code is using an UPDATE statement and committing the results
to the database as each record is read in the loop, it might take as long as a 
Few minutes to process all the data. The commit insists on completely writing 
all the data to disk every time it is called.
The program can be speeded up greatly by moving the commit operation outside of
the loop. In any database program, there is a balance between the number of 
operations you execute between commits and the importance of not losing the 
results of operations that have not yet been committed. 
```

In [34]:
import urllib.request, urllib.parse, urllib.error
import sqlite3
import re
# import requests
# url = 'http://www.py4e.com/code3/mbox.txt'
# myfile = requests.get(url)
# open(filepath, 'wb').write(myfile.content)

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')
cur.execute('CREATE TABLE Counts (org TEXT, count INTEGER)')

fname = input("Enter file name: ")
if len(fname) < 1 :
  fhand = urllib.request.urlopen('http://www.py4e.com/code3/mbox.txt')
else :
  fhand = open(fname)

for line in fhand :
  if not line.startswith('From: '): continue
  pieces = line.split()
  email = pieces[1]
  parts = email.split('@')
  org = parts[1]
  cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
  row = cur.fetchone()
  if row is None:
      cur.execute('''INSERT INTO Counts (org, count)
              VALUES (?, 1)''', (org,))
  else:
      cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                  (org,))
conn.commit()

sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC'
for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: /content/sample_data/mbox.txt
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
txstate.edu 17
whitman.edu 17
lancaster.ac.uk 14
bu.edu 14
stanford.edu 12
unicon.net 9
loi.nl 9
rsmart.com 8
ucdavis.edu 1
fhda.edu 1
utoronto.ca 1